body {
    font-style: 200%;
    font-family: sans-serif;
}

.wrapper {
    padding: 10px;
    background-color: #3875ab;
}

.content {
    background: #418acf;
    padding: 150px 20%;
}

header {
    color: white;
    padding: 30px 0px;
    font-size: 30px;
}

.cities {
    list-style: none;
    font-family: sans-serif;
    text-align: center;
    font-size: 0%;
    border: 3px solid white;
    padding: 0;
}

.cities:hover li .cityforecast {
    opacity: 0.5;
}

.cities li {
    display: inline-block;
    font-size: 24px;
    /* height: 72px; */
    border: 3px solid white;
    box-sizing: border-box; 
    color: white;
}

.cityforecast {
    padding: 15px 0;    
}

.forecast {
    opacity: 0.7;
}

.cities li:hover .cityforecast {
    opacity: 1.0;
}

.large {
    width: 100%;
}

.medium {
    width: 50%;
}

.small {
    width: 25%;
}

.blue {
    background-color: #418acf;
}

.mint {
    background-color: #00d0ce;
}

.violet {
    background-color: #a04e98;
}

.red {
    background-color: #c6373d;
}

.orange {
    background-color: #e6603a;
}

.yellow {
    background-color: #fbd956;
}

.light-green {
    background-color: #8ad897;
}

.grey {
    background-color: #619a99;
}

.rose {
    background-color: #d44595;
}

.green {
    background-color: #00a567;
}

.dark-violet {
    background-color: #6e539a;
}

footer {
    color: white;
    padding: 30px 0px;
}